<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <script src="./vue.js"></script>
    </head>
    <body>
        <div id="app">
            <div>
                <li v-if="number === 10">回答正确</li>
                <li v-else>回答错误</li>
            </div>

            <div>
                <li v-if="score>90">优秀</li>
                <li v-else-if="score>60">良</li>
                <li v-else>太差了</li>
            </div>
        </div>
        <script>
            new Vue({
                el: '#app',
                data() {
                    return {
                        number: 110,
                        score: 60,
                    };
                },
            });
        </script>
    </body>
</html>
