<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <script src="./vue.js"></script>
    </head>
    <body>
        <div id="add">
            <input type="text" v-model="startNumber" />+<input type="text" v-model="endNumber" />=<input type="text" v-model="total" />
            <button v-on:click="addTotal">计算</button>
        </div>
        <script>
            new Vue({
                el: '#add',
                data() {
                    return {
                        startNumber: '',
                        endNumber: '',
                        total: '',
                    };
                },
                methods: {
                    addTotal: function () {
                        this.total = this.startNumber * 1 + this.endNumber * 1;
                    },
                },
            });
        </script>
    </body>
</html>
